.navbtntxt{
    color:white;
}
p{
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px blue;
}

.container{
    background-image: linear-gradient(to top, black, grey);
    padding: 16px;
    margin: 20px 300px 0 300px;
    height: auto;
    border: 1px solid #90caf9;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 2px #3f51b5;
    width: auto;
    display: none;
}

.optcontainer{
    padding: 16px;
    font-weight: bold;
    color:white;
}

.optbtn{
    background-color: grey;
    width: auto;
    color:white;
    margin:2px;
}

.optbtn:hover{
    background-color: black;
}

.dropdownContainer{
    display: none;
    font-weight: bold;
    height: auto;
    width: auto;
  }

  .dropdownObjectContainer{
    display: none;
    font-weight: bold;
    padding: 3px;
    color: white;
    height: auto;
    width: auto;
    box-shadow: 1px 1px 1px 1px orange;
  }
  .dropdownObjectContainer:hover{
    box-shadow: 1px 1px 1px 1px yellow;
  }

  button{
    color: white;
    font-weight: bold;
  }

  button:hover{
      box-shadow: 2px 2px 2px 2px blue;
  }