<div style="padding: 15px; font-weight: bold;">
    <form>
        <label for="question">question </label>
        <input type="text" [ngModel]='question.question'><br><br>
        <label for="option1">option1 </label>
        <input type="text" [ngModel]='question.option1'><br><br>
        <label for="option2">option2 </label>
        <input type="text" [ngModel]='question.option2'><br><br>
        <label for="option3">option3 </label>
        <input type="text" [ngModel]='question.option3'><br><br>
        <label for="option4">option4 </label>
        <input type="text" [ngModel]='question.option4'><br><br>
        <label for="answer">answer </label>
        <input type="text" [ngModel]='question.answer'><br><br>
        <label for="category" [ngModel]='question.category'>category </label>
        <input type="text"><br><br>
    </form>
</div>