<body class="bg2">
    <h3 class="msg">Submit your own questions by filling this form.</h3><br>
    <h3 class="msg">Please read<button mat-button
            style="color: cyan; font-weight: bold; font-size: 27px;">Conditions</button>first!</h3>
    <form class="container" #questionForm="ngForm">

        <mat-form-field>
            <textarea matInput name="question" [(ngModel)]="Question.question" placeholder="Question"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="option1" [(ngModel)]="Question.option1" placeholder="Option1"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="option2" [(ngModel)]="Question.option2" placeholder="Option2"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="option3" [(ngModel)]="Question.option3" placeholder="Option3"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="option4" [(ngModel)]="Question.option4" placeholder="Option4"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput name="answer" [(ngModel)]="Question.answer"
                placeholder="Answer (option number)"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select name="category" [(ngModel)]="Question.category" placeholder="Category">
                <mat-option value="Mathematics">Mathematics</mat-option>
                <mat-option value="Science">Science</mat-option>
                <mat-option value="GK">GK</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <br><br>
    <button mat-flat-button color='primary' (click)="questionSubmission(); questionForm.reset()"
        type="submit">Submit</button>

</body>